*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    h1{
        text-align: center;
    }
    
    ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        background-color: rgb(243, 243, 235);
        border-radius: 5px;
    }
    
    li{
        padding: 10px;
        height: 80px;
        margin: 10px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 2px rgb(134, 139, 139);
    }